html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #3a3a3a;
}

#main-holder {
  width: 50%;
  height: 70%;
  display: grid;
  justify-self: center;
  align-self: center;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0 0 5px 2px black;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto;
  gap: 16px;
  padding: 16px;
}

/* place elements */
#Dashboard-header { grid-row: 1; justify-self: center; }

#view-parking-box { grid-row: 2; justify-self: center; }
#checkin-box      { grid-row: 3; justify-self: center;} 
#checkout-box     { grid-row: 4; justify-self: center;}

#logout-box {
  grid-row: 5; 
  justify-self: end;
  align-self: end;
  display: grid;
}

#view-parking-box-submit {
  width: auto;        /* was 100% */
  padding: 7px 12px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
}

#checkin-box-submit {
  width: auto;        /* was 100% */
  padding: 7px 12px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
}

#checkout-box-submit {
  width: auto;        /* was 100% */
  padding: 7px 12px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
}

#logout-box-submit {
  width: auto;        /* was 100% */
  padding: 7px 12px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
}
